body {
  background-color: #edede6;
}

h1 {
  text-align: center;
  margin: 15px 0 50px 0;
  font-size: 3em;
}

h2 {
  margin: 30px 0 20px 0;
  text-align: center;
}

img {
  width: 55%;
  border-radius: 50%;
  display: block;
  margin: auto;
}

.decor {
  border-bottom: 3px solid #000;
  width: 15%;
  margin: auto;
  margin-bottom: 30px;
}

.card {
  margin-bottom: 10px;
}

.column {
  float: left;
  width: 20%;
  margin-left: 135px;
}

.about-me {
  margin-bottom: 225px;
}

#about-me-description {
  font-size: 1.2em;
}

