/* Element Styling */
html {
  scroll-behavior: smooth;
}

body {
  background-color: #edede6;
  font-family: 'Barlow Condensed', sans-serif;
}

h1 {
  text-align: center;
  margin: 25px 0 50px 0;
  font-size: 4em;
}

h2 {
  margin: 30px 0 20px 0;
  text-align: center;
}

h3 {
  text-align: center;
  margin-right: 30px;
  padding-top: 10px;
}

li {
  font-size: 1.4em;
}

img {
  width: 55%;
  border-radius: 50%;
  display: block;
  margin: auto;
}

p {
  font-size: 1.4em;
}

footer {
  margin: 20px auto;
  text-align: center;
  font-size: 1.3em;
}

/* Class styling */
.decor {
  border-bottom: 3px solid #000;
  width: 20%;
  margin: auto;
  margin-bottom: 30px;
}

.about-decor {
  border-bottom: 3px solid #000;
  width: 2%;
  margin: 30px auto;
}

.card {
  margin-bottom: 10px;
}

.column {
  float: left;
  width: 20%;
  margin-left: 111px;
  padding-left: 25px;
  border: 5px dashed #000;
  box-sizing: border-box;
  margin-bottom: 50px;
}

.about-p {
  width: 60%;
  margin: auto;
  text-align: center;
}

.inline-style {
  font-style: italic;
}

/* ID styling */
#about {
  margin-top: 50px;
}

#bottom-p {
  margin-bottom: 50px;
}

#about-me-description {
  width: 90%;
  text-align: center;
  margin: 40px auto;
}

/* Menu styling */

#menu {
  margin-left: 100px;
  background-color: #e6e6dc;
  width: 12%;
  padding: 30px;
  margin-top: 10px;
  position: fixed;
}

#menu a {
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  width: 100%;
  margin: auto;
  margin-top: 10px; 
  box-sizing: border-box;
  background-color: #d9d9ce;
  font-size: 1.3em;
}





