/* Element Styling */
body {
  background-color: #edede6;
}

h1 {
  text-align: center;
  margin: 15px 0 50px 0;
  font-size: 3em;
}

h2 {
  margin: 30px 0 20px 0;
  text-align: center;
}

h3 {
  text-align: center;
  margin-right: 30px;
}

li {
  font-size: 1.1em;
}


img {
  width: 55%;
  border-radius: 50%;
  display: block;
  margin: auto;
}

p {
  font-size: 1.1em;
}

footer {
  margin: 20px auto;
}

/* Class styling */
.decor {
  border-bottom: 3px solid #000;
  width: 20%;
  margin: auto;
  margin-bottom: 30px;
}

.about-decor {
  border-bottom: 3px solid #000;
  width: 2%;
  margin: 30px auto;
}

.card {
  margin-bottom: 10px;
}

.column {
  float: left;
  width: 20%;
  margin-left: 111px;
  padding-left: 25px;
  border: 5px dashed #000;
  box-sizing: border-box;
}

.about-p {
  width: 60%;
  margin: auto;
  text-align: center;
}

.inline-style {
  font-style: italic;
}

/* ID styling */
#bottom-p {
  margin-bottom: 50px;
}

#about-me-description {
  width: 90%;
  text-align: center;
  margin: 40px auto;
}

